@{
    ViewBag.Title = "Treatment";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                What is involved?
            </h2>
            <hr>
            <p>On your first visit, the therapist will ask you some information about yourself and your general health. You will be asked to sign a consent form for treatment. This information will help to design a personal treatment just for you.</p>
            <p>After removing your socks and shoes, you will have your feet refreshed and then the treatment will start.</p>
            <p>For your treatment you can either choose to sit in a chair or lie down. The treatment will normally last one hour, unless a shorter treatment has been arranged.</p>
            <p>The therapist will then use their hands, thumbs, fingers or Hot Stones to apply pressure to the feet, lower leg, or hands, depending on the type of reflexology chosen. You may feel areas of transient discomfort during the treatment, but generally the experience should be relaxing. The therapist may recommend a course of treatments.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                How will I feel after a reflexology treatment?
            </h2>
            <hr>
            <p>It is useful to give feedback to the reflexologist as this may show the response of your body to treatment. This in turn might help the reflexologist to tailor a treatment plan specific to your needs. After one or two treatments your body may respond in a very noticeable way. Most people note a sense of well-being and relaxation; however, sometimes people report feeling lethargic, nauseous or tearful, but this is usually transitory and reflexologists believe that it is part of the healing process.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Mobile or in the treatment room
            </h2>
            <hr>
            <p>You may choose to have the therapist come to your house, so you can enjoy the blissful treatment in the comfort of your own home.  Alternatively, you may wish to visit our Bloomfield Bliss treatment room.</p>
        </div>
    </div>
</div>